*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

* {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

html, body, nav {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    background: transparent;
    background-color: rgba(214, 211, 237, 0.808)
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

body h2 {
    margin-bottom: 4rem;
    line-height: 3rem;
}

/*Navigation Menu/Bar Styling*/
header {
    width: 100%;
    height: 5rem;
}

.header-container {
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0. 1.5rem;
}

nav {
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
}

.menu-icon {
    font-size: 2.5rem;
    color:#837FA1;
    cursor: pointer;
}

.nav-list {
    width: 25rem;
    height: 100vh;
    background-color: #d7d4ed;
    position: fixed;
    top: 0;
    right: -25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.nav-list.active {
    right: 0;
    width: 100%
}

i.close {
    color: #eb648c;
    font-size: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-items {
    margin: 1.5rem 0;
}
.nav-links {
    font-size: 1.6rem;
    text-transform: uppercase;
}

/*Header*/

h1, p.header-text {
    color: black;
    font-size: 3rem;
}

.header-name {
    padding: 0 2rem;
}

.header-name span {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

/*Main Section (About Me, Projects, Contacts)*/

.portfolio-body {
    display: block;
}

.section-body {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.about-me {
    background-color: #837FA1;
    color: black;
    line-height: 1.5rem;
    font-weight: 900;
}

.about-me-title {
    text-align: center;
}

section.skills {
    background-color: #D6D3ED;
    color: black;
    line-height: 1.5rem;
    font-weight: 900;
}

section.projects {
    background-color: #837FA1;
    color: black;
    line-height: 1.5rem;
    font-weight: 900;
}

section.contact {
    background-color: #D6D3ED;
    color: black;
    line-height: 1.5rem;
    font-weight: 900;
}

/*Skills*/
div.skills-container {
    display: block;
}

section.skills h2 {
    text-align: center;
}

section .skill-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1rem;
    justify-content: center;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

section .skill-set li {
    padding: 0 1.5rem;
}

/*Project Section*/
section.projects {
    display: block;
    text-align: center;
}

section .project-1 {
    text-align: center;
}

.section-body h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

.project-1 h3 {
    font-size: 1.5rem;
}

section.projects img {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

section.projects .project-links {
    padding: 0.5rem 0;
}

section .img-container{
    text-align: center;
    font-size: 1.5rem;
}

.tech-title {
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 900;
}

section.projects .tech-list {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.tech-list > li {
    list-style-type: none;
    font-size: 20px;
}

#contact h2 {
    margin: 50px auto;
}

.img-container a {
    margin: 0 15px;
    color: white;
}

/*Contact*/
#contact {
    display: flex;
    flex-direction: column;
}

.contact-links a{
    margin: 0 2rem;
    color: black;
}

.contact-links a:hover {
    color: white;
}

/*Footer*/
footer.footer-info {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.footer-copyright {
    flex: 1;
    font-weight: bold;
    padding: 5px 0;
}

/*Desktop Responsive Size*/
@media (min-width: 769px) {
    /*Navigation Bar*/
    .portfolio-intro {
        width: 90%;
        margin: 0 auto;
    }

    body {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    nav {
        width: 100%;
        right: 0%;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        padding: 0px 0px;
        margin: 0px 0px;
        top: 0;
    }

    .nav-list {
        width: 100%;
        height: initial;
        position: sticky;
        right: initial;
        flex-direction: row;
        transition: initial;
        z-index: 1501;
    }

    .nav-list .close {
        visibility: hidden;
    }

    .menu-icon {
        display: none;
    }

    .nav-items {
        margin: 0 2.5rem;
    }

    .nav-links, .current {
        position: relative;
        font-size: 1.3rem;
        color: black;
    }

    .portfolio-body {
        display: block;
    }

    /*About Me*/
    section.about-me {
        height: auto;
        width: auto;
    }

    .about-me-title {
        line-height: 130%;
    }

    .about-me-body {
        width: 400px;
    }

    /*Projects*/
    section.contact {
        height: 4rem;
    }
}
